<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("75d37904-1389-479e-a632-dbcf2a8d32e3");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
